# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Intro to Pandas I

Week 2 | Day 1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Describe the purpose of pandas library
- Explain the fundamental data structures of pandas
- Read in a csv file using pandas
- Utilize the following methods: head, index, columns, max, min, unique, nunique, describe
- Select and slice data
- Use basic histogram plotting in pandas

## What is pandas?

![](http://i.imgur.com/OKffmnL.png)

pandas is a Python package providing **fast, flexible, and expressive data structures** designed to make working with “relational” or “labeled” data both easy and intuitive. [I]t has the broader **goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language**. It is already well on its way toward this goal.

## Lets' talk about those data structures

The two basic data structures are:
    
- Series
- DataFarm

## Series

A series is a 1D data structure. A series always has an index and optionally a column name.

In [1]:
my_series = pd.Series([10, 20, 30, 40, 50])
my_series

NameError: name 'pd' is not defined

In [ ]:
my_series = pd.Series([10, 20, 30, 40, 50], index=[2012, 2013, 2014, 2015, 2016])
my_series

## DataFrame

A DataFrame is a 2D data structure. It also has and index, and each column (itself a series) in the DataFrame has a column name. A DataFrame can be thought of as being similar to a spreadsheet in structure.

<img src="http://i.imgur.com/Z5PAHRQ.png" width=400>

## Let's import pandas and read in a csv

[Salary Dataset Description](https://vincentarelbundock.github.io/Rdatasets/doc/car/Salaries.html)

In [27]:
# how we import pandas
import pandas as pd

# how to read in a csv
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/car/Salaries.csv')
df

,Unnamed: 0,rank,discipline,yrs.since.phd,yrs.service,sex,salary
0,1,Prof,B,19,18,Male,139750
1,2,Prof,B,20,16,Male,173200
2,3,AsstProf,B,4,3,Male,79750
3,4,Prof,B,45,39,Male,115000
4,5,Prof,B,40,41,Male,141500
5,6,AssocProf,B,6,6,Male,97000
6,7,Prof,B,30,23,Male,175000
7,8,Prof,B,45,45,Male,147765
8,9,Prof,B,21,20,Male,119250
9,10,Prof,B,18,18,Female,129000
10,11,AssocProf,B,12,8,Male,119800
11,12,AsstProf,B,7,2,Male,79800
12,13,AsstProf,B,1,1,Male,77700
13,14,AsstProf,B,2,0,Male,78000
14,15,Prof,B,20,18,Male,104800
15,16,Prof,B,12,3,Male,117150
16,17,Prof,B,19,20,Male,101000
17,18,Prof,A,38,34,Male,103450
18,19,Prof,A,37,23,Male,124750
19,20,Prof,A,39,36,Female,137000
20,21,Prof,A,31,26,Male,89565
21,22,Prof,A,36,31,Male,102580
22,23,Prof,A,34,30,Male,93904
23,24,Prof,A,24,19,Male,113068
24,25,AssocProf,A,13,8,Female,74830
25,26,Prof,A,21,8,Male,106294
26,27,Prof,A,35,23,Male,134885
27,28,AsstProf,B,5,3,Male,82379
28,29,AsstProf,B,11,0,Male,77000
29,30,Prof,B,12,8,Male,118223
...,...,...,...,...,...,...,...
367,368,AssocProf,A,10,1,Male,108413
368,369,Prof,A,35,30,Male,131950
369,370,Prof,A,33,31,Male,134690
370,371,AssocProf,A,13,8,Male,78182
371,372,Prof,A,23,20,Male,110515
372,373,Prof,A,12,7,Male,109707
373,374,Prof,A,30,26,Male,136660
374,375,Prof,A,27,19,Male,103275
375,376,Prof,A,28,26,Male,103649
376,377,AsstProf,A,4,1,Male,74856
377,378,AsstProf,A,6,3,Male,77081
378,379,Prof,A,38,38,Male,150680
379,380,AssocProf,A,11,8,Male,104121
380,381,AsstProf,A,8,3,Male,75996
381,382,Prof,A,27,23,Male,172505
382,383,AssocProf,A,8,5,Male,86895
383,384,Prof,A,44,44,Male,105000
384,385,Prof,A,27,21,Male,125192
385,386,Prof,A,15,9,Male,114330
386,387,Prof,A,29,27,Male,139219
387,388,Prof,A,29,15,Male,109305
388,389,Prof,A,38,36,Male,119450
389,390,Prof,A,33,18,Male,186023
390,391,Prof,A,40,19,Male,166605
391,392,Prof,A,30,19,Male,151292
392,393,Prof,A,33,30,Male,103106
393,394,Prof,A,31,19,Male,150564
394,395,Prof,A,42,25,Male,101738
395,396,Prof,A,25,15,Male,95329
396,397,AsstProf,A,8,4,Male,81035

## Let's fix that existing index from the csv

In [3]:
# usecols parameter changes what goes into our DataFrame

df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/car/Salaries.csv',\
                 usecols=range(1, 7))
df

          rank discipline  yrs.since.phd  yrs.service     sex  salary
0         Prof          B             19           18    Male  139750
1         Prof          B             20           16    Male  173200
2     AsstProf          B              4            3    Male   79750
3         Prof          B             45           39    Male  115000
4         Prof          B             40           41    Male  141500
5    AssocProf          B              6            6    Male   97000
6         Prof          B             30           23    Male  175000
7         Prof          B             45           45    Male  147765
8         Prof          B             21           20    Male  119250
9         Prof          B             18           18  Female  129000
10   AssocProf          B             12            8    Male  119800
11    AsstProf          B              7            2    Male   79800
12    AsstProf          B              1            1    Male   77700
13    AsstProf          B              2            0    Male   78000
14        Prof          B             20           18    Male  104800
15        Prof          B             12            3    Male  117150
16        Prof          B             19           20    Male  101000
17        Prof          A             38           34    Male  103450
18        Prof          A             37           23    Male  124750
19        Prof          A             39           36  Female  137000
20        Prof          A             31           26    Male   89565
21        Prof          A             36           31    Male  102580
22        Prof          A             34           30    Male   93904
23        Prof          A             24           19    Male  113068
24   AssocProf          A             13            8  Female   74830
25        Prof          A             21            8    Male  106294
26        Prof          A             35           23    Male  134885
27    AsstProf          B              5            3    Male   82379
28    AsstProf          B             11            0    Male   77000
29        Prof          B             12            8    Male  118223
..         ...        ...            ...          ...     ...     ...
367  AssocProf          A             10            1    Male  108413
368       Prof          A             35           30    Male  131950
369       Prof          A             33           31    Male  134690
370  AssocProf          A             13            8    Male   78182
371       Prof          A             23           20    Male  110515
372       Prof          A             12            7    Male  109707
373       Prof          A             30           26    Male  136660
374       Prof          A             27           19    Male  103275
375       Prof          A             28           26    Male  103649
376   AsstProf          A              4            1    Male   74856
377   AsstProf          A              6            3    Male   77081
378       Prof          A             38           38    Male  150680
379  AssocProf          A             11            8    Male  104121
380   AsstProf          A              8            3    Male   75996
381       Prof          A             27           23    Male  172505
382  AssocProf          A              8            5    Male   86895
383       Prof          A             44           44    Male  105000
384       Prof          A             27           21    Male  125192
385       Prof          A             15            9    Male  114330
386       Prof          A             29           27    Male  139219
387       Prof          A             29           15    Male  109305
388       Prof          A             38           36    Male  119450
389       Prof          A             33           18    Male  186023
390       Prof          A             40           19    Male  166605
391       Prof          A             30           19    Male  151292
392       Prof          A             33           30    Male  103106
393       Prof          A             31           19    Male  150564
394       Prof          A             42           25    Male  101738
395       Prof          A             25           15    Male   95329
396   AsstProf          A              8            4    Male   81035

[397 rows x 6 columns]

## Changing the headers on csv_read

In [4]:
tdf = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/HairEyeColor.csv',\
                  usecols=range(1,4))
tdf

     Hair    Eye     Sex
0   Black  Brown    Male
1   Brown  Brown    Male
2     Red  Brown    Male
3   Blond  Brown    Male
4   Black   Blue    Male
5   Brown   Blue    Male
6     Red   Blue    Male
7   Blond   Blue    Male
8   Black  Hazel    Male
9   Brown  Hazel    Male
10    Red  Hazel    Male
11  Blond  Hazel    Male
12  Black  Green    Male
13  Brown  Green    Male
14    Red  Green    Male
15  Blond  Green    Male
16  Black  Brown  Female
17  Brown  Brown  Female
18    Red  Brown  Female
19  Blond  Brown  Female
20  Black   Blue  Female
21  Brown   Blue  Female
22    Red   Blue  Female
23  Blond   Blue  Female
24  Black  Hazel  Female
25  Brown  Hazel  Female
26    Red  Hazel  Female
27  Blond  Hazel  Female
28  Black  Green  Female
29  Brown  Green  Female
30    Red  Green  Female
31  Blond  Green  Female

## Changing the headers on csv_read

In [5]:
tdf = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/HairEyeColor.csv',\
                  usecols=range(1,4), header=None)
tdf

        1      2       3
0    Hair    Eye     Sex
1   Black  Brown    Male
2   Brown  Brown    Male
3     Red  Brown    Male
4   Blond  Brown    Male
5   Black   Blue    Male
6   Brown   Blue    Male
7     Red   Blue    Male
8   Blond   Blue    Male
9   Black  Hazel    Male
10  Brown  Hazel    Male
11    Red  Hazel    Male
12  Blond  Hazel    Male
13  Black  Green    Male
14  Brown  Green    Male
15    Red  Green    Male
16  Blond  Green    Male
17  Black  Brown  Female
18  Brown  Brown  Female
19    Red  Brown  Female
20  Blond  Brown  Female
21  Black   Blue  Female
22  Brown   Blue  Female
23    Red   Blue  Female
24  Blond   Blue  Female
25  Black  Hazel  Female
26  Brown  Hazel  Female
27    Red  Hazel  Female
28  Blond  Hazel  Female
29  Black  Green  Female
30  Brown  Green  Female
31    Red  Green  Female
32  Blond  Green  Female

## Accessing and renaming the columns

In [6]:
df.columns

Index([u'rank', u'discipline', u'yrs.since.phd', u'yrs.service', u'sex',
       u'salary'],
      dtype='object')

In [7]:
## Rename our columns

df.columns = [x.replace('.', '_') if '.' in x else x \
              for x in df.columns]
df.columns

Index([u'rank', u'discipline', u'yrs_since_phd', u'yrs_service', u'sex',
       u'salary'],
      dtype='object')

## Accessing and replacing the index

In [8]:
df.index

RangeIndex(start=0, stop=397, step=1)

In [9]:
df.index = [x for x in df.index]

In [10]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            387, 388, 389, 390, 391, 392, 393, 394, 395, 396],
           dtype='int64', length=397)

## Exercise

- Read in a csv from the following page: [Data CSVs](https://vincentarelbundock.github.io/Rdatasets/datasets.html)
- Change the columns using the usecols parameter
- Select only the even columns with a list comprehension
- Change the header parameter to remove the existing header
- Try using the skiprows parameter to exclude the first few rows
- Try renaming the columns

## Going back to our salary dataset

## Let's add a couple more imports as well

In [11]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Let's see the head

In [12]:
df.head()

       rank discipline  yrs_since_phd  yrs_service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

## And now the tail

In [13]:
df.tail()

         rank discipline  yrs_since_phd  yrs_service   sex  salary
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

## We can pass arguments to those

In [14]:
df.head(20)

         rank discipline  yrs_since_phd  yrs_service     sex  salary
0        Prof          B             19           18    Male  139750
1        Prof          B             20           16    Male  173200
2    AsstProf          B              4            3    Male   79750
3        Prof          B             45           39    Male  115000
4        Prof          B             40           41    Male  141500
5   AssocProf          B              6            6    Male   97000
6        Prof          B             30           23    Male  175000
7        Prof          B             45           45    Male  147765
8        Prof          B             21           20    Male  119250
9        Prof          B             18           18  Female  129000
10  AssocProf          B             12            8    Male  119800
11   AsstProf          B              7            2    Male   79800
12   AsstProf          B              1            1    Male   77700
13   AsstProf          B              2            0    Male   78000
14       Prof          B             20           18    Male  104800
15       Prof          B             12            3    Male  117150
16       Prof          B             19           20    Male  101000
17       Prof          A             38           34    Male  103450
18       Prof          A             37           23    Male  124750
19       Prof          A             39           36  Female  137000

## Let's slice it up

In [15]:
# using only the single brackets works on the rows
df[0:3]

       rank discipline  yrs_since_phd  yrs_service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750

## What if I want to select an individual column?

In [16]:
df['rank']

0           Prof
1           Prof
2       AsstProf
3           Prof
4           Prof
5      AssocProf
6           Prof
7           Prof
8           Prof
9           Prof
10     AssocProf
11      AsstProf
12      AsstProf
13      AsstProf
14          Prof
15          Prof
16          Prof
17          Prof
18          Prof
19          Prof
20          Prof
21          Prof
22          Prof
23          Prof
24     AssocProf
25          Prof
26          Prof
27      AsstProf
28      AsstProf
29          Prof
         ...
367    AssocProf
368         Prof
369         Prof
370    AssocProf
371         Prof
372         Prof
373         Prof
374         Prof
375         Prof
376     AsstProf
377     AsstProf
378         Prof
379    AssocProf
380     AsstProf
381         Prof
382    AssocProf
383         Prof
384         Prof
385         Prof
386         Prof
387         Prof
388         Prof
389         Prof
390         Prof
391         Prof
392         Prof
393         Prof
394         Prof
395         Prof
396     AsstProf
Name: rank, dtype: object

## Why did that look different?

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
type(df['rank'])

pandas.core.series.Series

## Double brackets to the rescue

In [19]:
df[['rank']]

          rank
0         Prof
1         Prof
2     AsstProf
3         Prof
4         Prof
5    AssocProf
6         Prof
7         Prof
8         Prof
9         Prof
10   AssocProf
11    AsstProf
12    AsstProf
13    AsstProf
14        Prof
15        Prof
16        Prof
17        Prof
18        Prof
19        Prof
20        Prof
21        Prof
22        Prof
23        Prof
24   AssocProf
25        Prof
26        Prof
27    AsstProf
28    AsstProf
29        Prof
..         ...
367  AssocProf
368       Prof
369       Prof
370  AssocProf
371       Prof
372       Prof
373       Prof
374       Prof
375       Prof
376   AsstProf
377   AsstProf
378       Prof
379  AssocProf
380   AsstProf
381       Prof
382  AssocProf
383       Prof
384       Prof
385       Prof
386       Prof
387       Prof
388       Prof
389       Prof
390       Prof
391       Prof
392       Prof
393       Prof
394       Prof
395       Prof
396   AsstProf

[397 rows x 1 columns]

## And we can now see the type

In [20]:
type(df[['rank']])

pandas.core.frame.DataFrame

## What if I want more than one column?

In [21]:
df.columns

Index([u'rank', u'discipline', u'yrs_since_phd', u'yrs_service', u'sex',
       u'salary'],
      dtype='object')

In [22]:
list_of_cols_i_want = ['rank', 'discipline', 'sex']

df[list_of_cols_i_want]

          rank discipline     sex
0         Prof          B    Male
1         Prof          B    Male
2     AsstProf          B    Male
3         Prof          B    Male
4         Prof          B    Male
5    AssocProf          B    Male
6         Prof          B    Male
7         Prof          B    Male
8         Prof          B    Male
9         Prof          B  Female
10   AssocProf          B    Male
11    AsstProf          B    Male
12    AsstProf          B    Male
13    AsstProf          B    Male
14        Prof          B    Male
15        Prof          B    Male
16        Prof          B    Male
17        Prof          A    Male
18        Prof          A    Male
19        Prof          A  Female
20        Prof          A    Male
21        Prof          A    Male
22        Prof          A    Male
23        Prof          A    Male
24   AssocProf          A  Female
25        Prof          A    Male
26        Prof          A    Male
27    AsstProf          B    Male
28    AsstProf          B    Male
29        Prof          B    Male
..         ...        ...     ...
367  AssocProf          A    Male
368       Prof          A    Male
369       Prof          A    Male
370  AssocProf          A    Male
371       Prof          A    Male
372       Prof          A    Male
373       Prof          A    Male
374       Prof          A    Male
375       Prof          A    Male
376   AsstProf          A    Male
377   AsstProf          A    Male
378       Prof          A    Male
379  AssocProf          A    Male
380   AsstProf          A    Male
381       Prof          A    Male
382  AssocProf          A    Male
383       Prof          A    Male
384       Prof          A    Male
385       Prof          A    Male
386       Prof          A    Male
387       Prof          A    Male
388       Prof          A    Male
389       Prof          A    Male
390       Prof          A    Male
391       Prof          A    Male
392       Prof          A    Male
393       Prof          A    Male
394       Prof          A    Male
395       Prof          A    Male
396   AsstProf          A    Male

[397 rows x 3 columns]

## What if I want to pick my row and columns together?

In [23]:
# .iloc[rows to select:columns to select]
df.iloc[0:10,2:4]

   yrs_since_phd  yrs_service
0             19           18
1             20           16
2              4            3
3             45           39
4             40           41
5              6            6
6             30           23
7             45           45
8             21           20
9             18           18

## What if I just want one cell?

In [24]:
# the comma separates the row indexer from the column indexer
df.iloc[5,4]

'Male'

## Exercise

Use the dataset you previously read in to do the following:
- Select the first and third columns two different ways 
- Using .iloc, select the second column's second data point
- Using .iloc select the first 10 rows of the 2rd through the 4th column
- Select the 'discipline' column as a Series and then as a DataFrame
- Use single bracket notation to select the first 8 rows

## Let's look at some summary statistics

In [25]:
df.describe()

       yrs_since_phd  yrs_service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

## Let's customize that...

In [26]:
df.describe(percentiles=[.10,.20,.50,.80,.95])

       yrs_since_phd  yrs_service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
10%         5.000000     3.000000   77380.800000
20%        10.000000     5.000000   87840.000000
50%        21.000000    16.000000  107300.000000
80%        35.000000    28.800000  140968.800000
95%        45.000000    41.400000  168908.000000
max        56.000000    60.000000  231545.000000

## Let's get some data type info

In [ ]:
df.info()

## Finding the max and min values

In [ ]:
df['salary'].max()

In [ ]:
df['salary'].min()

## Finding the uniques

In [ ]:
df['rank'].unique()

In [ ]:
df['rank'].nunique()

## Exercise

Using professor's salaries data:
- Find the max and min years since phd
- Find the unique and number of unique years of service
- Find the 99% percentile of years since phd
- Find the 99% percentile of salary

## Let's plot a histogram

In [ ]:
df['salary'].hist()

## Let's customize that

In [ ]:
df['salary'].hist(figsize=(10,8), color='k')

## And even more customization...

In [ ]:
fig = df['yrs_since_phd'].hist(figsize=(12,6), color='darkorange')
plt.style.use('fivethirtyeight')

# get the current axis
ax = plt.gca()

ax.set_ylabel('Frequency', fontsize=14)
ax.set_xlabel('Years', fontsize=14)
ax.set_title('A Chart of Stuff', y=1.01)

## Independent Exercise

Pick any dataset that interestes you from the following page [datasets](https://vincentarelbundock.github.io/Rdatasets/datasets.html)

- Read in the data with no parameter changes
- Modify which columns are read in using the header and usecols parameters
- Rename the headers
- Examine the data using head and tail
- What are the data types of each column?
- Try to change the data types (see pandas documentation)
- Examine the data to find the number of unique values
- What are the unique values?
- Select some a column to plot a histogram of
- Change the x and y labels and the title of the plot

## Conclusion:

In this lecture we've learned:
- What pandas is
- Why pandas is used
- What a DataFrame and a Series is
- How to index and slice in pandas
- How to view the head and tail and get descriptive stats
- How to view and change the columns and index
- The basics of plotting with pandas