In [162]:
# import pandas, matplotlib

import pandas as pd
import matplotlib.pyplot as plt

In [139]:
# read in the csv from https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv

df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv')

In [146]:
# view the head

df.head(2)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific

In [141]:
# view the columns - use iteration to print them out
for c in df.columns:
    print c

RespondentID
How often do you travel by plane?
Do you ever recline your seat when you fly?
How tall are you?
Do you have any children under 18?
In a row of three seats, who should get to use the two arm rests?
In a row of two seats, who should get to use the middle arm rest?
Who should have control over the window shade?
Is itrude to move to an unsold seat on a plane?
Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?
On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?
Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?
Is itrude to recline your seat on a plane?
Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?
Is it rude to ask someone to switch seats with you in order to be closer to friends?
Is itrude to ask someone to switch seats with you in order to be closer to family?
Is it rude to wake a passenger up if you are trying to go to the bathroom?
Is itrude to wake a passenger up if you are trying to walk around?
In general, is itrude to bring a baby on a plane?
In general, is it rude to knowingly bring unruly children on a plane?
Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?
Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?
Gender
Age
Household Income
Education
Location (Census Region)

In [142]:
column_list = [df.columns.tolist()]

In [150]:
column_list[0][0:3]

['RespondentID',
 'How often do you travel by plane?',
 'Do you ever recline your seat when you fly?']

In [64]:
column_dict = {column_list[0].index(x):x for x in column_list[0]}

In [65]:
column_dict

{0: 'RespondentID',
 1: 'How often do you travel by plane?',
 2: 'Do you ever recline your seat when you fly?',
 3: 'How tall are you?',
 4: 'Do you have any children under 18?',
 5: 'In a row of three seats, who should get to use the two arm rests?',
 6: 'In a row of two seats, who should get to use the middle arm rest?',
 7: 'Who should have control over the window shade?',
 8: 'Is itrude to move to an unsold seat on a plane?',
 9: 'Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?',
 10: "On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?",
 11: 'Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?',
 12: 'Is itrude to recline your seat on a plane?',
 13: 'Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?',
 14: 'Is it rude to ask someone to switch seats with you in order to be closer to friends?',
 15: 'Is itrude to ask someone to switch seats with you in order to be closer to family?',
 16: 'Is it rude to wake a passenger up if you are trying to go to the bathroom?',
 17: 'Is itrude to wake a passenger up if you are trying to walk around?',
 18: 'In general, is itrude to bring a baby on a plane?',
 19: 'In general, is it rude to knowingly bring unruly children on a plane?',
 20: "Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?",
 21: 'Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?',
 22: 'Gender',
 23: 'Age',
 24: 'Household Income',
 25: 'Education',
 26: 'Location (Census Region)'}

In [151]:
# rename columns with shorter name

df.columns = ['id', 'travel_freq', 'do_you_recline', 'height', 'have_children','three_seats_arm_rest', 'two_seats_arm_rest', \
             'window_shade', 'unsold_seat', 'rude_to_chat', 'getting_up', 'recline_obligation', 'recline_rude', 'elim_recline',\
             'rude_to_switch_friends', 'rude_to_switch_family','rude_to_wake_bathrm', 'rude_to_wake_walk', 'rude_baby', 'rude_unrly_children', \
             'electronics', 'smoked', 'gender', 'age', 'income', 'edu', 'location']

In [153]:
# view head again - now just 3 rows

df.head(n=3)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [152]:
# view the last 3 rows
df.tail(n=3)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

In [75]:
df.head(3)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [154]:
# check the data type of the DataFrame

type(df)

pandas.core.frame.DataFrame

In [155]:
# How many unique travel frequencies are there? What are they?

print df['travel_freq'].nunique()
print df['travel_freq'].unique()

6
['Once a year or less' 'Once a month or less' 'Never'
 'A few times per week' 'Every day' 'A few times per month']

In [156]:
# How many unique regions are there? What are they?

print df['location'].nunique()
print df['location'].unique()

9
[nan 'Pacific' 'East North Central' 'New England' 'Mountain'
 'South Atlantic' 'East South Central' 'Middle Atlantic'
 'West North Central' 'West South Central']

In [157]:
# Select just those columns that relate to the personal characteristics of the person
# Save that as a DataFrame name char

char = df[['id', 'height', 'gender', 'have_children', 'age', 'income', 'edu', 'location']]

In [158]:
type(char)

pandas.core.frame.DataFrame

In [159]:
char[0:3]

,id,height,gender,have_children,age,income,edu,location
0,3436139758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,"6'3""",Male,Yes,30-44,NaN,Graduate degree,Pacific
2,3434275578,"5'8""",Male,No,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [160]:
# From the new char DataFrame, select the height. Can you create a histogram?

char['height'][0:3]

0     NaN
1    6'3"
2    5'8"
Name: height, dtype: object

In [163]:
df['height'].hist()
###cannot make histogram this way; go to next question

TypeError: cannot concatenate 'str' and 'float' objects

In [113]:
# Create a histogram by creating a list comprehension + a function to turn the data into inches
###Must solve
inches_list = [char['height'].tolist()]

In [129]:
inches_list[0][1][2]

'3'

In [131]:
for i in inches_list:
    for a in i:
        if a != int:
            del a
        elif a == int:
            a

In [137]:
inches_list[0][1][1]

"'"

In [132]:
inches_list

[[nan,
  '6\'3"',
  '5\'8"',
  '5\'11"',
  '5\'7"',
  '5\'9"',
  '6\'2"',
  '6\'0"',
  '6\'0"',
  '5\'6"',
  '6\'0"',
  nan,
  '5\'7"',
  nan,
  nan,
  '6\'0"',
  nan,
  '5\'8"',
  '6\'1"',
  nan,
  '5\'10"',
  '5\'7"',
  nan,
  nan,
  nan,
  nan,
  nan,
  '6\'0"',
  '6\'2"',
  '5\'6"',
  '5\'11"',
  '5\'10"',
  nan,
  '6\'2"',
  '5\'7"',
  '5\'10"',
  '6\'0"',
  '5\'11"',
  nan,
  nan,
  '5\'5"',
  '6\'0"',
  '5\'7"',
  nan,
  '5\'7"',
  '6\'2"',
  '6\'4"',
  '6\'0"',
  '5\'10"',
  '6\'0"',
  nan,
  '5\'7"',
  '5\'9"',
  '6\'1"',
  '6\'2"',
  '5\'11"',
  '6\'6" and above',
  '5\'10"',
  '6\'1"',
  '5\'10"',
  '6\'0"',
  '6\'2"',
  '5\'8"',
  '5\'9"',
  '5\'7"',
  '5\'9"',
  '5\'9"',
  '6\'4"',
  '5\'9"',
  '5\'10"',
  'Under 5 ft.',
  nan,
  nan,
  '5\'7"',
  '6\'4"',
  nan,
  '5\'8"',
  '5\'7"',
  '5\'11"',
  '5\'6"',
  '5\'9"',
  '5\'9"',
  '6\'2"',
  '6\'0"',
  '5\'11"',
  '5\'8"',
  '6\'2"',
  nan,
  nan,
  '6\'1"',
  nan,
  nan,
  nan,
  '5\'10"',
  '5\'9"',
  '5\'9"',
  '6\'5"',
  '5\'11"',
  '6\'2"',
  '6\'2"',
  '5\'10"',
  '6\'3"',
  nan,
  '5\'8"',
  nan,
  nan,
  '6\'1"',
  nan,
  '6\'0"',
  nan,
  '5\'8"',
  nan,
  '5\'7"',
  '5\'9"',
  nan,
  '5\'11"',
  '5\'10"',
  '6\'4"',
  '5\'10"',
  nan,
  '5\'9"',
  nan,
  '5\'11"',
  '5\'8"',
  '5\'10"',
  '5\'9"',
  '6\'5"',
  '6\'1"',
  '5\'9"',
  nan,
  nan,
  nan,
  '5\'4"',
  nan,
  '5\'5"',
  nan,
  'Under 5 ft.',
  '5\'6"',
  '5\'0"',
  '5\'11"',
  '5\'6"',
  '6\'1"',
  '5\'11"',
  nan,
  '5\'3"',
  nan,
  '5\'6"',
  '5\'3"',
  '5\'4"',
  '5\'5"',
  '5\'9"',
  '5\'5"',
  '5\'6"',
  '5\'9"',
  '5\'4"',
  '5\'11"',
  nan,
  '6\'0"',
  nan,
  nan,
  '5\'5"',
  '6\'4"',
  '5\'4"',
  '5\'5"',
  '6\'2"',
  '5\'6"',
  '5\'4"',
  '5\'5"',
  nan,
  '5\'9"',
  '6\'5"',
  nan,
  '5\'9"',
  '6\'0"',
  '5\'10"',
  '5\'3"',
  nan,
  '6\'0"',
  '5\'6"',
  '5\'9"',
  '6\'3"',
  '5\'11"',
  '5\'6"',
  '6\'5"',
  '5\'4"',
  'Under 5 ft.',
  '5\'1"',
  '5\'8"',
  nan,
  nan,
  '5\'2"',
  '5\'5"',
  '6\'6" and above',
  '5\'5"',
  'Under 5 ft.',
  '6\'1"',
  '5\'5"',
  '5\'3"',
  '5\'4"',
  '5\'6"',
  nan,
  '5\'3"',
  '5\'11"',
  '5\'9"',
  '5\'11"',
  '5\'3"',
  '5\'11"',
  nan,
  '5\'5"',
  '5\'9"',
  '5\'8"',
  '6\'0"',
  '5\'3"',
  '5\'7"',
  '5\'4"',
  '5\'1"',
  '5\'7"',
  '5\'11"',
  '6\'4"',
  nan,
  '5\'2"',
  '6\'2"',
  '5\'3"',
  '6\'1"',
  '5\'3"',
  '5\'8"',
  '6\'1"',
  'Under 5 ft.',
  '5\'7"',
  '5\'4"',
  '5\'7"',
  nan,
  '5\'6"',
  '6\'1"',
  nan,
  '6\'0"',
  nan,
  '5\'6"',
  nan,
  '5\'10"',
  '5\'10"',
  '6\'2"',
  '5\'4"',
  '6\'4"',
  nan,
  '5\'8"',
  nan,
  '5\'6"',
  '5\'3"',
  '5\'6"',
  '5\'10"',
  nan,
  nan,
  '5\'8"',
  '5\'7"',
  '6\'0"',
  '5\'11"',
  nan,
  'Under 5 ft.',
  '5\'8"',
  '5\'5"',
  '5\'7"',
  '5\'10"',
  '5\'6"',
  '5\'6"',
  '5\'10"',
  '5\'4"',
  '5\'6"',
  '5\'0"',
  '5\'9"',
  '5\'7"',
  '6\'0"',
  '5\'8"',
  '5\'11"',
  '5\'5"',
  '5\'4"',
  '6\'3"',
  nan,
  'Under 5 ft.',
  '5\'3"',
  '6\'4"',
  nan,
  nan,
  '5\'5"',
  '5\'7"',
  '5\'6"',
  '5\'8"',
  nan,
  '5\'3"',
  '5\'3"',
  '5\'4"',
  '5\'8"',
  '5\'5"',
  '6\'3"',
  '5\'10"',
  '5\'2"',
  nan,
  'Under 5 ft.',
  '5\'5"',
  nan,
  '5\'7"',
  '5\'10"',
  nan,
  '5\'7"',
  '6\'3"',
  '5\'4"',
  '5\'8"',
  '5\'1"',
  '5\'7"',
  nan,
  nan,
  '5\'6"',
  '5\'7"',
  '5\'8"',
  nan,
  '5\'8"',
  '5\'3"',
  '5\'11"',
  '5\'3"',
  '5\'4"',
  nan,
  '5\'9"',
  '6\'3"',
  '5\'8"',
  '5\'5"',
  nan,
  nan,
  '5\'4"',
  nan,
  nan,
  '5\'10"',
  '5\'8"',
  '6\'0"',
  '5\'7"',
  '5\'7"',
  '5\'5"',
  '5\'6"',
  '5\'7"',
  '5\'5"',
  '5\'9"',
  '5\'8"',
  '5\'4"',
  '6\'0"',
  '5\'11"',
  '5\'2"',
  '5\'4"',
  '6\'0"',
  '5\'2"',
  nan,
  '5\'8"',
  '5\'11"',
  nan,
  '6\'0"',
  '5\'0"',
  '5\'0"',
  '5\'6"',
  '5\'7"',
  nan,
  nan,
  '5\'8"',
  '5\'7"',
  '5\'10"',
  '5\'4"',
  '5\'5"',
  '5\'11"',
  '5\'5"',
  '5\'4"',
  '5\'4"',
  '5\'11"',
  '5\'11"',
  nan,
  '5\'6"',
  '5\'6"',
  '6\'2"',
  '5\'4"',
  '5\'8"',
  '5\'10"',
  '5\'10"',
  '5\'5"',
  '5\'9"',
  '5\'11"',
  '5\'3"',
  '5\'5"',
  '5\'8"',
  '5\'2"',
  '5\'9"',
  '5\'4"',
  '5\'10"',
  '5\'7"',
  '5\'11"',
  '5\'8"',
  '5\'7"',
  '5\'2"',
  nan,
  '5\'9"',
  '5\'7"',
  '5\'4"',
  '5\'3"',
  '5\'11"',
  '5\'0"',
  '5\'9"',
  '6\'0"',
  nan,
  nan,
  '5\'4"',
  '5\'9"',
  '5\'3"',
  nan,
  '6\'0"',
  '5\'8"',
  '5\'4"',
  '5\'7"',
  '5\'10"',
  '5\'3"',
  nan,
  '5\'11"',
  '5\'3"',
  '5\'3"',
  '5\'7"',
  '6\'0"',
  '5\'3"',
  '5\'10"',
  '5\'1"',
  '6\'3"',
  '5\'7"',
  '5\'2"',
  nan,
  '6\'0"',
  nan,
  '5\'0"',
  '5\'5"',
  '6\'2"',
  '5\'11"',
  '5\'2"',
  '5\'7"',
  '6\'0"',
  '6\'0"',
  '5\'7"',
  'Under 5 ft.',
  nan,
  '5\'11"',
  '5\'7"',
  nan,
  '5\'0"',
  '5\'5"',
  nan,
  '5\'5"',
  '5\'8"',
  '5\'11"',
  nan,
  '6\'0"',
  nan,
  nan,
  nan,
  '5\'9"',
  '5\'2"',
  '5\'5"',
  '5\'5"',
  '5\'11"',
  '5\'2"',
  '5\'7"',
  '6\'3"',
  '5\'7"',
  '5\'10"',
  '5\'4"',
  '6\'0"',
  '5\'9"',
  '5\'11"',
  '5\'5"',
  '5\'10"',
  '5\'6"',
  '5\'10"',
  '5\'6"',
  '5\'7"',
  '5\'5"',
  nan,
  '5\'8"',
  '6\'3"',
  nan,
  '5\'2"',
  nan,
  '5\'8"',
  '6\'1"',
  '5\'11"',
  '5\'11"',
  '5\'0"',
  '5\'8"',
  '5\'11"',
  '5\'10"',
  '5\'7"',
  '5\'10"',
  '5\'3"',
  '6\'1"',
  '5\'4"',
  '5\'5"',
  '5\'7"',
  '5\'8"',
  '5\'2"',
  '5\'11"',
  nan,
  nan,
  '5\'9"',
  '5\'8"',
  nan,
  '5\'6"',
  '5\'9"',
  '5\'5"',
  '5\'2"',
  '5\'5"',
  '6\'0"',
  nan,
  '5\'6"',
  '6\'0"',
  '5\'7"',
  nan,
  '5\'4"',
  '6\'2"',
  '5\'4"',
  'Under 5 ft.',
  '5\'2"',
  '5\'6"',
  nan,
  '6\'1"',
  '5\'1"',
  'Under 5 ft.',
  '5\'7"',
  nan,
  '5\'7"',
  '6\'2"',
  '5\'3"',
  '5\'10"',
  '5\'4"',
  '5\'2"',
  '5\'6"',
  '5\'7"',
  '5\'6"',
  '5\'4"',
  nan,
  '5\'10"',
  '5\'2"',
  '5\'8"',
  '5\'7"',
  '5\'11"',
  '5\'10"',
  '5\'0"',
  '5\'10"',
  '5\'10"',
  '5\'3"',
  '5\'1"',
  '5\'6"',
  '5\'8"',
  '5\'1"',
  '5\'0"',
  '5\'9"',
  '5\'6"',
  '5\'10"',
  '5\'6"',
  '5\'6"',
  '5\'2"',
  '5\'7"',
  '6\'2"',
  '5\'4"',
  '5\'10"',
  '5\'4"',
  '5\'10"',
  nan,
  '5\'3"',
  nan,
  '5\'3"',
  nan,
  '5\'5"',
  '5\'5"',
  '5\'11"',
  '6\'0"',
  '5\'9"',
  '5\'11"',
  '5\'8"',
  '5\'5"',
  '6\'0"',
  '6\'1"',
  '5\'1"',
  '5\'4"',
  '5\'5"',
  '5\'10"',
  '5\'11"',
  '6\'2"',
  '5\'10"',
  '5\'10"',
  '5\'7"',
  nan,
  '6\'1"',
  nan,
  nan,
  '5\'4"',
  '5\'5"',
  '6\'1"',
  '5\'9"',
  '5\'6"',
  '5\'8"',
  '5\'4"',
  '5\'4"',
  '5\'8"',
  '5\'5"',
  '5\'3"',
  '5\'9"',
  '5\'2"',
  nan,
  nan,
  '5\'7"',
  '6\'5"',
  '5\'8"',
  '6\'2"',
  '5\'5"',
  '6\'2"',
  '5\'5"',
  nan,
  '5\'0"',
  '5\'1"',
  '5\'11"',
  '5\'2"',
  '5\'8"',
  nan,
  '6\'0"',
  '5\'2"',
  '5\'7"',
  '5\'10"',
  '5\'9"',
  '5\'4"',
  '5\'8"',
  '5\'7"',
  '6\'0"',
  '5\'4"',
  nan,
  '5\'9"',
  '5\'4"',
  '5\'1"',
  '5\'8"',
  '5\'4"',
  '5\'2"',
  '5\'6"',
  nan,
  '5\'1"',
  nan,
  '5\'4"',
  '5\'3"',
  '5\'9"',
  nan,
  '5\'7"',
  '5\'6"',
  '6\'0"',
  nan,
  nan,
  '5\'5"',
  '6\'2"',
  '5\'3"',
  '5\'7"',
  '5\'4"',
  '5\'6"',
  '5\'6"',
  '5\'9"',
  '5\'9"',
  '6\'3"',
  '5\'10"',
  '5\'10"',
  '5\'1"',
  '5\'11"',
  '5\'6"',
  nan,
  nan,
  '5\'7"',
  '5\'8"',
  '6\'0"',
  '5\'9"',
  '5\'10"',
  '5\'9"',
  '5\'6"',
  '5\'6"',
  '5\'8"',
  '5\'5"',
  '5\'6"',
  '5\'5"',
  '5\'8"',
  '5\'5"',
  '5\'5"',
  nan,
  '5\'8"',
  '5\'9"',
  '6\'0"',
  '5\'4"',
  '5\'5"',
  '5\'9"',
  '5\'8"',
  '5\'11"',
  '6\'2"',
  nan,
  '5\'4"',
  'Under 5 ft.',
  '6\'0"',
  nan,
  '5\'3"',
  '5\'7"',
  '5\'8"',
  nan,
  '5\'5"',
  '5\'0"',
  '6\'4"',
  '5\'5"',
  '5\'7"',
  '6\'1"',
  '6\'0"',
  nan,
  '5\'5"',
  '5\'8"',
  '5\'4"',
  nan,
  '5\'5"',
  '6\'0"',
  '5\'5"',
  nan,
  '5\'10"',
  '5\'6"',
  '5\'10"',
  nan,
  '6\'3"',
  '5\'9"',
  '5\'6"',
  '5\'4"',
  nan,
  '5\'10"',
  '6\'4"',
  '5\'8"',
  '6\'3"',
  '5\'2"',
  '5\'0"',
  '5\'0"',
  '5\'0"',
  nan,
  nan,
  '5\'9"',
  '5\'3"',
  '5\'6"',
  nan,
  '5\'2"',
  '5\'2"',
  '5\'2"',
  '5\'7"',
  '5\'6"',
  '5\'4"',
  nan,
  '5\'10"',
  '5\'5"',
  '6\'3"',
  '5\'6"',
  '5\'5"',
  '5\'6"',
  '5\'3"',
  '5\'6"',
  '6\'1"',
  '5\'5"',
  '5\'4"',
  '5\'8"',
  '5\'10"',
  nan,
  '5\'10"',
  '5\'6"',
  '5\'3"',
  '5\'7"',
  '6\'4"',
  nan,
  '5\'7"',
  '5\'4"',
  '5\'9"',
  '6\'0"',
  '6\'1"',
  '5\'6"',
  nan,
  '5\'8"',
  '5\'5"',
  '5\'7"',
  '5\'10"',
  '6\'0"',
  '5\'3"',
  '5\'2"',
  nan,
  '5\'9"',
  '5\'3"',
  nan,
  '5\'9"',
  '5\'2"',
  '5\'2"',
  '5\'5"',
  nan,
  '6\'1"',
  nan,
  '6\'3"',
  '5\'7"',
  '5\'4"',
  '5\'7"',
  nan,
  '5\'8"',
  '5\'2"',
  '5\'5"',
  '5\'8"',
  '5\'3"',
  nan,
  '5\'6"',
  '5\'3"',
  '5\'7"',
  '5\'2"',
  '6\'2"',
  '5\'9"',
  '5\'8"',
  '5\'11"',
  '5\'10"',
  '6\'0"',
  '5\'4"',
  '6\'0"',
  '5\'5"',
  '5\'4"',
  '5\'8"',
  '5\'10"',
  '5\'2"',
  '5\'2"',
  '5\'6"',
  nan,
  '5\'8"',
  '5\'4"',
  '5\'6"',
  '6\'0"',
  nan,
  '5\'9"',
  '5\'9"',
  '5\'5"',
  '5\'11"',
  '5\'9"',
  nan,
  '6\'3"',
  '6\'0"',
  '5\'5"',
  '5\'4"',
  '5\'6"',
  '5\'8"',
  '5\'8"',
  '5\'1"',
  '5\'6"',
  '5\'7"',
  '5\'8"',
  '5\'9"',
  '5\'4"',
  '5\'0"',
  '6\'0"',
  '5\'7"',
  '5\'8"',
  '5\'4"',
  '5\'3"',
  '6\'2"',
  '5\'8"',
  '5\'10"',
  '5\'4"',
  '5\'4"',
  nan,
  nan,
  '5\'7"',
  '5\'2"',
  '6\'0"',
  '5\'10"',
  '5\'2"',
  '5\'11"',
  '6\'2"',
  '5\'0"',
  '5\'9"',
  '5\'2"',
  '5\'10"',
  '5\'3"',
  '5\'6"',
  nan,
  '6\'2"',
  '5\'2"',
  nan,
  '5\'9"',
  '5\'4"',
  '5\'6"',
  '6\'0"',
  '5\'5"',
  nan,
  '5\'4"',
  '5\'7"',
  nan,
  '5\'4"',
  '5\'7"',
  '5\'4"',
  '5\'1"',
  '5\'2"',
  '6\'0"',
  '5\'6"',
  '5\'8"',
  '6\'1"',
  '5\'4"',
  '5\'8"',
  '5\'4"',
  '5\'10"',
  '5\'11"',
  nan,
  nan,
  '5\'8"',
  '5\'5"',
  '5\'9"',
  '5\'8"',
  '5\'8"',
  '5\'9"',
  nan,
  '5\'6"',
  nan,
  '6\'1"',
  '5\'5"',
  '5\'9"',
  '5\'6"',
  '6\'0"',
  nan,
  '6\'0"',
  nan,
  '5\'1"',
  '5\'7"',
  '5\'2"',
  '5\'3"',
  '5\'9"',
  '6\'3"',
  '5\'7"',
  '5\'11"',
  '5\'2"',
  nan,
  '5\'7"',
  '5\'1"',
  '5\'6"',
  '5\'10"',
  '5\'9"',
  '5\'8"',
  '5\'6"',
  '5\'9"',
  '5\'10"',
  '5\'4"',
  '5\'7"',
  '5\'9"',
  '5\'5"',
  nan,
  '6\'1"',
  '5\'6"',
  '5\'4"',
  '5\'9"',
  nan,
  '5\'4"',
  '5\'5"',
  '5\'2"',
  nan,
  '5\'9"',
  '5\'9"',
  '5\'6"',
  '5\'6"',
  '5\'8"',
  '5\'3"',
  '5\'6"',
  '5\'3"',
  '5\'7"',
  nan,
  nan,
  '5\'9"',
  '5\'4"',
  '5\'8"',
  '5\'3"',
  nan,
  '5\'9"',
  '5\'8"',
  '5\'6"',
  nan,
  '5\'4"',
  nan,
  '5\'11"',
  '5\'10"',
  '5\'11"',
  nan,
  '5\'4"',
  '5\'3"',
  '6\'0"',
  '5\'9"',
  '5\'4"',
  '5\'3"',
  '5\'5"',
  '6\'1"',
  '5\'5"',
  '5\'5"',
  nan,
  '5\'5"',
  '5\'3"',
  '5\'7"',
  '5\'1"',
  '5\'6"',
  '5\'10"',
  '5\'2"',
  '5\'6"',
  '5\'8"',
  ...]]

In [114]:
inches_list[0][0:4]

[nan, '6\'3"', '5\'8"', '5\'11"']

In [171]:
# Slice the first 3 columns using .iloc notation, then use the double bracket notation

df.iloc[0:,0:3]
###of df.iloc[:,:3]

              id            travel_freq       do_you_recline
0     3436139758    Once a year or less                  NaN
1     3434278696    Once a year or less  About half the time
2     3434275578    Once a year or less              Usually
3     3434268208    Once a year or less               Always
4     3434250245   Once a month or less  About half the time
5     3434245875    Once a year or less              Usually
6     3434235351   Once a month or less      Once in a while
7     3434218031    Once a year or less      Once in a while
8     3434213681    Once a year or less      Once in a while
9     3434172894    Once a year or less                Never
10    3434165659   Once a month or less              Usually
11    3434164339    Once a year or less                  NaN
12    3434161941    Once a year or less                Never
13    3434155493                  Never                  NaN
14    3434132453                  Never                  NaN
15    3434131535    Once a year or less      Once in a while
16    3434125180   A few times per week                  NaN
17    3434122066    Once a year or less               Always
18    3434114105    Once a year or less      Once in a while
19    3434109246    Once a year or less                  NaN
20    3434107997    Once a year or less                Never
21    3434100967    Once a year or less      Once in a while
22    3434087928                  Never                  NaN
23    3434084098                  Never                  NaN
24    3434071488                  Never                  NaN
25    3434061256                  Never                  NaN
26    3434059758                  Never                  NaN
27    3434052290    Once a year or less      Once in a while
28    3434049700    Once a year or less  About half the time
29    3434041278    Once a year or less               Always
...          ...                    ...                  ...
1010  3431751287    Once a year or less               Always
1011  3431751153   Once a month or less      Once in a while
1012  3431751080   Once a month or less              Usually
1013  3431748816    Once a year or less               Always
1014  3431748763    Once a year or less      Once in a while
1015  3431748698  A few times per month                Never
1016  3431747718    Once a year or less               Always
1017  3431746726    Once a year or less      Once in a while
1018  3431745079                  Never                  NaN
1019  3431744747   Once a month or less      Once in a while
1020  3431744533  A few times per month      Once in a while
1021  3431744015                  Never                  NaN
1022  3431743115   Once a month or less  About half the time
1023  3431741243    Once a year or less                Never
1024  3431740654    Once a year or less      Once in a while
1025  3431738966  A few times per month               Always
1026  3431737634    Once a year or less      Once in a while
1027  3431737213    Once a year or less              Usually
1028  3431737008    Once a year or less                Never
1029  3431736876   Once a month or less      Once in a while
1030  3431736855                  Never                  NaN
1031  3431736438                  Never                  NaN
1032  3431735911    Once a year or less               Always
1033  3431734973                  Never                  NaN
1034  3431734398  A few times per month      Once in a while
1035  3431732652    Once a year or less      Once in a while
1036  3431731770                  Never                  NaN
1037  3431731485                  Never                  NaN
1038  3431731196                  Never                  NaN
1039  3431729581    Once a year or less      Once in a while

[1040 rows x 3 columns]

In [170]:
df[['id', 'travel_freq', 'do_you_recline']][:3]

           id          travel_freq       do_you_recline
0  3436139758  Once a year or less                  NaN
1  3434278696  Once a year or less  About half the time
2  3434275578  Once a year or less              Usually

In [173]:
## Create a dictionary using .unique and a dictionary comprehension
## Then use a list comprehension with a function to update the count the number of degrees
## How many degreee of each type are there?

col_dict = {k:0 for k in df['edu'].unique()}

In [175]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
# Now use the education column with the .value_counts() method to check your work. Are they the same?